* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
    --secondary-color: #171100;
    --background-color: #fffcf4;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ============= Common ============= */
a {
    text-decoration: none;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 3);
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
}

.btn {
    display: inline-block;
    min-width: var(--min-width, 144px);
    padding: 11px 41px;
    border-radius: 24.5px;
    text-align: center;
}

.btn.btn-small {
    --min-width: 118px;
    height: 50px;
    padding: 12px 21px;
    border-radius: 25px;
}

.btn.btn-large {
    --min-width: 137px;
    height: 50px;
    padding: 10px 37px;
    border-radius: 26px;
}

.btn.btn-super-large {
    --min-width: 180px;
    height: 64px;
    padding: 17px 33px;
    border-radius: 32px;
}

.btn.btn-primary {
    background-color: var(--primary-color);
    transition: 0.3s ease;
}

.btn.btn-primary:hover {
    background-color: var(--secondary-color);
}

.btn.btn-secondary {
    transition: 0.3s ease;
    background-color: var(--secondary-color);
}

.btn.btn-secondary:hover {
    background-color: var(--primary-color);
}

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
/* ============= Header ============= */
#header {
    padding-top: 28px;
    position: sticky;
    top: -28px;
    z-index: 1000;
    background-color: var(--background-color);
}

#header .nav-bar {
    display: flex;
    align-items: center;
    height: 66px;
    padding-bottom: 8px;
    padding-top: 8px;
}

#header .menu {
    display: flex;
    align-items: center;
    gap: 42px;
    margin-left: auto;
}

#header .menu a {
    color: #5f5b53;
    /* font-size: 1.6rem; */
    font-style: normal;
    font-weight: 400;
    line-height: 1.75; /* 175% */
    position: relative;
}

#header .menu a::after {
    display: none;
    content: "";
    width: 12px;
    height: 2px;
    background-color: #171100;
    position: absolute;
    bottom: 0;
    left: 0;
}

#header .menu li:hover a {
    color: #171100;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}

#header .menu li:hover a::after {
    display: inline-block;
}

#header .btn {
    margin-left: 70px;
    color: #fff;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}

/* ============= Hero ============= */
#hero {
    padding-top: 56px;
    padding-bottom: 65px;
    background-color: var(--background-color);
}

#hero .hero-img {
    display: block;
    width: 470px;
    height: 685px;
    border-radius: 20px;
    object-fit: cover;
}

#hero .content {
    display: flex;
}
/* ----------Image Block ----------- */
#hero .image-block {
    width: 48.7%;
    position: relative;
}

#hero .image-block .courses-block {
    width: 270px;
    height: 244px;
    position: absolute;
    bottom: 48px;
    right: 0;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    padding: 24px;
}

#hero .courses-block .info-block {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}

#hero .courses-block .info-block:last-child {
    margin-bottom: 0;
}

.courses-block .info-block .info-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #fff9e8;
    margin-right: 16px;
}

#hero .courses-block .desc {
    display: inline-block;
}

.courses-block .desc .course-number {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
}

.courses-block .desc .course-name {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

/* ----------Info ----------- */
#hero .info {
    width: 51.3%;
    padding-top: 64px;
    padding-left: 130px;
}

#hero .info .title {
    width: 470px;
    color: var(--secondary-color);
    font-family: "Sen", sans-serif;
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17; /* 117.241% */
    letter-spacing: -0.116rem;
}

#hero .info .desc {
    width: 470px;
    margin-top: 22px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

#hero .info .action {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

#hero .action .btn {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
    margin-right: 28px;
}

#hero .action .play-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
    margin-right: 14px;
}

#hero .action .play-icon:hover {
    transform: scale(1.1);
    /* background-color: var(--secondary-color); */
}

/* #hero .action .play-icon:hover .arrow-right {
    border-color: transparent transparent transparent #fff;
} */

#hero .play-icon .arrow-right {
    display: inline-block;
    border-width: 5px 0px 5px 8px;
    border-style: solid;
    border-color: transparent transparent transparent var(--primary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-25%);
}

#hero .action p {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

#hero .sub-title {
    margin-top: 48px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

#hero .info .more-info {
    display: flex;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    margin-top: 8px;
}

#hero .info .more-info p + p {
    margin-left: 28px;
}

#hero .info .more-info .ctn-strong {
    color: #171100;
    font-family: "Sen", sans-serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 1.23; /* 122.727% */
    margin-right: 7px;
}

/* ============= Courses ============= */

#course {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #fff;
}

#course .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#course .heading .sub-title {
    color: #171100;
    font-family: "Sen", sans-serif;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26; /* 126.316% */
    letter-spacing: -0.076rem;
}

#course .heading .desc {
    width: 458px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
    margin-top: 16px;
}

#course .heading .arrow-group {
    display: flex;
}

#course .arrow-group .arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
}

#course .arrow-group .arrow.left {
    margin-right: 20px;
}

#course .arrow-group .fa-chevron-left {
    color: var(--primary-color);
}

#course .arrow-group .arrow.right {
    background-color: var(--primary-color);
}

#course .arrow-group .fa-chevron-right {
    color: #fff;
}

/* ------------ Course group -------------- */
#course .course-group {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 55px;
}

#course .course-card {
    height: 466px;
    width: 370px;
    border-radius: 12px;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

#course .course-card .image {
    display: block;
    width: 100%;
    height: 278px;
    border-radius: 12px 12px 0px 0px;
    object-fit: cover;
}

#course .course-card .body {
    height: 188px;
    padding: 16px 22px;
    /* background-color: #faf0d6; */
}

#course .body .course-title {
    display: flex;
    align-items: center;
}

#course .body .course-name {
    width: 180px;
    color: #171100;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
}

#course .body .stars {
    margin-left: auto;
    margin-right: 6px;
}

#course .course-title p {
    color: #fea31b;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

#course .body .course-desc {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
    margin-top: 6px;
    padding-right: 33px;
}

#course .body .course-cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

#course .course-cta .price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

#course .course-cta .btn {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.85; /* 185.714% */
}

/* =============== Quote section =============== */
#quote {
    padding: 96px 0;
    background-color: #2e2100;
}

#quote .content {
    display: flex;
    align-items: center;
}

#quote .person-card .avatar {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
}

#quote .person-card .name {
    color: #f7f7f7;
    font-family: "Sen", sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.42; /* 141.667% */
    margin-top: 18px;
}

#quote .person-card .position {
    color: #bfbcb2;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
    margin-top: 4px;
}

#quote .pagination {
    display: flex;
    gap: 5px;
    margin-top: 28px;
}

#quote .pagination .circle {
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

#quote .circle.side {
    background-color: #634700;
}

#quote .circle.mid {
    background-color: var(--primary-color);
}

#quote .quote-block {
    width: 63.2%;
    margin-left: auto;
    position: relative;
}

#quote .quote-block .quote-content {
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54; /* 153.846% */
    margin-top: 28px;
}

#quote .quote-icon {
    position: absolute;
    top: 0;
    left: -28px;
}

/* =============== Sign up section =============== */
#sign-up {
    margin-top: 200px;
}

#sign-up .content {
    display: flex;
}

#sign-up .image-block {
    width: 48.7%;
    height: 438px;
    position: relative;
}

#sign-up .image {
    width: 270px;
    height: 404px;
    border-radius: 16px;
    object-fit: cover;
    position: absolute;
}

#sign-up .image.first {
    top: 34px;
    left: 0;
}

#sign-up .image.second {
    top: 0;
    left: 300px;
}

#sign-up .info {
    width: 51.3%;
    padding-top: 58px;
    padding-left: 130px;
}

#sign-up .info .sub-title {
    width: 470px;
    color: #171100;
    font-family: "Sen", sans-serif;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.263; /* 126.316% */
    letter-spacing: -0.076rem;
}

#sign-up .info .desc {
    width: 470px;
    color: #5f5b53;
    font-weight: 400;
    line-height: 1.75; /* 175% */
    margin-top: 16px;
}

#sign-up .info .btn {
    margin-top: 32px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}

/* =============== join now section =============== */
#join-now {
    margin-top: 200px;
}

#join-now .content {
    display: flex;
}

#join-now .info {
    width: 48.7%;
    margin-right: 130px;
    padding-top: 71px;
}

#join-now .info .sub-title {
    color: #171100;
    font-family: "Sen", sans-serif;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26; /* 126.316% */
    letter-spacing: -0.076rem;
}

#join-now .info .desc {
    color: #5f5b53;
    font-weight: 400;
    line-height: 1.75; /* 175% */
    margin-top: 16px;
}

#join-now .info .btn {
    color: #fff;
    font-weight: 600;
    line-height: 1.75; /* 175% */
    margin-top: 32px;
    padding: 10px 31px;
}

#join-now .image {
    width: 470px;
    height: 440px;
    border-radius: 20px;
    object-fit: cover;
}

/* =============== Our Blog section =============== */
#our-blog {
    margin-top: 200px;
    padding-top: 96px;
    background: #fffcf4;
}

#our-blog .content {
    text-align: center;
}

#our-blog .sub-title {
    color: #130606;
    font-family: "Sen", sans-serif;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26; /* 126.316% */
    letter-spacing: -0.076rem;
}

#our-blog .desc {
    margin: 16px auto 0;
    color: #696262;
    font-weight: 400;
    line-height: 1.75; /* 175% */
    width: 448px;
}

#our-blog .card-group {
    display: flex;
    gap: 30px;
    margin-top: 55px;
}

#our-blog .card-group .card-item {
    flex: 1;
    border-radius: 16px;
    background: #fff;
}

#our-blog .card-group .card-item:hover {
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

#our-blog .card-item .image {
    height: 250px;
    width: 100%;
    border-radius: 16px 16px 0px 0px;
    object-fit: cover;
}

#our-blog .card-item .body {
    padding: 20px 20px 28px;
    text-align: left;
}

#our-blog .card-item .date {
    position: relative;
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
    padding-left: 10px;
}

#our-blog .card-item .date::before {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

#our-blog .card-item .separate {
    width: 160px;
    height: 1px;
    border-radius: 0.5px;
    background: #e2dfda;
    margin-top: 12px;
}

#our-blog .card-item .body-desc {
    color: #171100;
    font-weight: 600;
    line-height: 1.75; /* 175% */
    margin-top: 12px;
}

#our-blog .card-item .btn {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.857; /* 185.714% */
    margin-top: 12px;
}

#our-blog .pagination {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 38px;
}

#our-blog .pagination .circle {
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

#our-blog .circle.side {
    background-color: #5f5b53;
}

#our-blog .circle.mid {
    background-color: var(--primary-color);
}
